* All things that should dynamically update around the site will do so through PHP/backend/databases. You just need to ensure everything is connected to that.

* Once users take their pick, you should have them purchase the item (again, most of this is backend, the frontend purchase form just needs to connect to that). Users should only be allowed to purchase if they have their credit cards set up on their account (part of user accounts' job). No need to verify credit card validity.

PAGE FEEDBACK:
* PRECONFIGURED BUILDS
    * Having the builds be divided into 3 price categories and a sort by price in each category is fine.
    * On the 3 buttons page, you need to show configuration of the month (an image(s)) below. You can show one configuration for each category. This (again) updates through the backend (a configurationOfTheMonth database contains them), it just needs to connect.
* NEWSLETTER
    * Change the name to "Promotions", since it makes more sense for its purpose.
    * Show BOTH newly available parts AND recommendations (updates based on order history, user account stuff). Both of these are dynamic (again) because of the backend, just hook them up to that.
* TUTORIAL
    * Change the name of this page to something else; its purpose will be for purchasing a custom (not pre-build) PC. It contains a step-by-step wizard that lets you select criteria, then it gives you the PC that satisfies all and takes you to purchase.
        * Each time you select a part type in critera, it should narrow down the other options based on compatibility. (Compatibility should be determined using databases). This is backend stuff; the front-end should just hook to it and have the capability to hide options.
        * You don't need to narrow down options based on things other than compatibility. Instead, if the options conflict (for example picking a PC price of 1000 but a CPU of price 2000), you can just tell the user that no PC exists with all of these options at the end.
    * For the text guide, it's recommended that you just provide a PDF link on purchase that contains the text, instead of keeping it on the page or making it its own page (sort of like a PDF manual).

USER ACCOUNTS:
* Logging in affects your recommendations. But newly available parts don't need to update based on login (only recommendations).
* Have email (order confirmation) functionality, add more account/personalized functionality.