.content{
	margin-top:8px;
	margin-right:50px;
	width:1468px;
	display:inline-block;
	vertical-align:top;
}
.outer{
	margin-top:8px;
	margin-left:-8px;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	border-top:solid black 2px;
}
.sidebar{
	float: left;
	padding: 50px;
	font-size: 20px;
	box-shadow:0px 0px 10px 3px #000000;
	margin-top:0px;
	margin-left:0px;
	margin-right:50px;
	margin-bottom:50px;
}
.darkmode .sidebar{
	background-color:#171A21;
}
.sidebar ul{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:inherit;
	font-weight:bold;
	font-family:'Arial';
}
a:hover, .sidebar a:hover{
    cursor:pointer;
    color:#0299E3;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.order{
	background-color: #a32727;
	color:whitesmoke;
	font-weight: bolder;
	font-size: large;
}
.item{
	background-color: #bec6ed;
	color: navy;
}

.orderHistory td {
	padding: 5px;
	border-radius: 5px;
	padding-left: 20px;
}

.orderHistory {
	border-radius: 5px;
	width: 80%;
}