.prebuild {
    background-color: whitesmoke;
    color: navy;
}
.individualparts{
    background-color: yellowgreen;
    color: navy;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align:center;
}

table {
    border: hidden;
    padding-left: 10px;
    font-size: 1.1em;
    margin: auto;
    width: 80%;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ff7a7a;
    color: rgb(16, 4, 32);
	padding-left: 20px;
	padding-right: 20px;
    font-weight: bolder;
    width: 90%;
}

h1 {
    padding-top:50px;
}

td.price {
    width: 10%;
}

.button {
    margin-top: 50px;
    font-size: 130%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px;
    color: white;
    background-color: #0338a1;
    width: 20%;
    height: 40px;
}

.button:hover {
    border: 3px solid;
    background-color: white;
    color: #0338a1;
}