body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#even {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d9d9d9;
}

#odd {
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #d9d9d9;
}

#spec {
    border: 3px;
    border-style: solid;
    border-color: grey;
    width: 80%;
    margin: auto;
    font-size: 150%;
}