h1#banner {
  text-align: center;
  font-size: 400%;
  padding-top: 70px;
  padding-bottom: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 0px 10px 3px #000000;
}

body {
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
  position: relative;
  top: 5%;
}

.box select {
  background: #99E8FD;
  color: #918484;
  padding-left: 10px;
  width: 400px;
  height: 35px;
  border: none;
  font-size: medium;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
  -webkit-appearance: none;
  outline: none;
}

p#message {
  color: red;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 50%;
  margin: auto;
}

th, td {
  width: 75%;
  text-align: left;
  padding: 5px;
}

td.label {
  text-align: right;
  width: 35%;
}

div#button {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

button.cart {
  width: 20%;
  height: 35px;
  background-color: #0338a1;
  border: 0px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: large;
}

button.cart:hover {
  border: 3px solid;
  background-color: white;
  color: #0338a1;
}