h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
    padding-top: 70px;
    padding-bottom: 70px;
    border: solid;
    border-color: grey;
}
h3{
    color: black;
}

.item-table {
    border-style:  solid none none none;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    
}
.item-desc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 100%;

}
#img1 {

    float: right;
    width: 75%;
}
#img2 {
    float: right;
    width: 75%;
}
#img3{
    float: right;
    width: 75%;
}

.details  a:link {
    color: inherit;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
.details a:visited {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    
}
.details a:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Fomating the Subscribe form */
#main-div-subs{
    position: absolute; 
    display: flex; 
    top: 40%;
    left: 40%; 
    
}
#button-subs-open{
    background-color: #0338a1;
    border: none;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    
}
/* The subscribe form is hidden onload*/
#pop-subscribe {
    display: none; 
    border: 3px;
    border: solid;
    border-color: #DADCE0;
    border-radius:5px;
    background-color: white;
    padding: 0 10px 10px;
   
}
.form-container {
    max-width: 200px;
    background-color: white;
    justify-content: center;
    
}
.form-container input[id="subsmail"]{
  width: 175px;
  padding: 10px;
  border-radius:5px;
  border: solid;
  border-color:#DADCE0;
  outline:none;
  margin-left: 45%;
}

.form-container input[id="subsmail"]:focus
{
    border-color:#0299E3;
}
#button-subs {
    background-color: black;
    border: none;
    padding:10px 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    position: relative;
    margin-left: 55%;
}
#button-close {
    border: none;
    cursor: pointer;
    position: relative;
    margin-left: 96.5%;
    background-color: #DADCE0;
    display: end;
}
