.loginRegisterForms
{
    display:block;
    text-align:center;
    width:min-content;
    margin:auto;
}

.loginRegisterForms #formRow
{
    display:block;
}

.loginRegisterForms #formRow label
{
    display:block;
    font-size:16px;
    font-family:Arial;
    font-weight:bold;
    margin:8px 0px;
    color:rgb(46, 46, 46);
    text-align:left;
}

.loginRegisterForms h1
{
    margin:70px;
    font-size:300%;
    font-family:Arial;
    font-weight:bold;
    color:rgb(46, 46, 46);
}

.loginRegisterForms #formRow input
{
    width: 100%;
    padding: 15px 15px;
    margin: 4px 0 16px 0;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginRegisterForms #formRow button
{
    background-color:rgb(76, 143, 206);
    border:none;
    font-weight:bold;
    color:white;
    padding:16px 32px;
    text-align:center;
    display:inline-block;
    font-size:16px;
    font-family:'Arial';
    margin:20px 0;
}

.loginRegisterForms #formRow #loginButton
{
    width:75%;
}

.loginRegisterForms #formRow #registerButton
{
    width:75%;
}

.loginRegisterForms #formRow,#formCol a
{
    font-weight:bold;
}

/*UNUSED FOR NOW, DELETE LATER IF NOT NEEDED*/
.loginRegisterForms #formCol
{
    display:inline-block;
    margin:auto 0px;
}

/*UNUSED FOR NOW, DELETE LATER IF NOT NEEDED*/
.loginRegisterForms #formBlock
{
    display:block;
    width:max-content;
}