#banner
{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:300%;
    padding-top:70px;
    padding-bottom:70px;
    border:2px;
    border-style:solid;
    border-color:grey;
}

#menu
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0px 0px;
    background-color:white;
    padding:-10px 0px;
}

#menu li
{
    list-style:none;
    box-sizing:border-box;
    float:left;
    margin-left:10px;
    margin-right:10px;
}

#menu #logo
{
    pointer-events:none;
    margin-left:-30px;
}

#menu button, a.menuButton
{
    text-decoration:none;
    background-color:white;
    border:none;
    color:grey;
    padding:16px 32px;
    text-align:center;
    display:block;
    font-size:16px;
    font-weight:bold;
    outline:none;
    font-family:'Arial';
    transition:0.3s;
}

#menu button:hover, a:hover
{
    cursor:pointer;
    color:cornflowerblue;
}

#menu #shoppingCart
{
    position:relative;
    float:right;
    margin:9px 60px 0px 0px;
}

#menu #shoppingCart img
{
    position:absolute;
    transition:0.3s;
}

#menu #accountMenu
{
    position:relative;
}

#menu #accountMenu #accountOptions
{
    display:none;
    position:absolute;
}

#menu #accountMenu #accountOptions a.menuButton
{
    width:64px;
    display:block;
}

#menu #accountMenu:hover #accountOptions
{
    display:block;
    position:absolute;
    top:100%;
    left:0%;
}